button:hover {
    background-color: white;
    border: 1px solid black;
    border-radius: 12px;
    color: $secondary-font-color;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


h3 {
  letter-spacing: 1px;
}
