// FONT FAMILY

$primary-font: 'Roboto', serif;
$h1-font: 'Roboto+slab', serif;
$h2-font: 'Oxygen', sans-serif;
$h3-font: 'Roboto+slab', serif;

// COLORS

$primary-font-color: #000000; //black
$primary-color: #ffffff; //white
$secondary-font-color: #ffffff;
$secondary-color: #000000;
